<!DOCTYPE html>
<html>
<head>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'interface_client/css/data_hydro.css' %}">
    <title>Visualisation des Données</title>
</head>
<body>
    {% include 'interface_client/menu.html' %}
    <h1>Visualisation des Données</h1>
    <form method="post">
        {% csrf_token %}
        <select name="url_selected">
            {% for url in urls %}
            <option value="{{ url }}">{{ url }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Afficher les Données</button>
    </form>

    {% if data %}
    <div class="table-wrapper">
        {{ data|safe }}
    </div>
    {% endif %}
</body>
</html>
