<!DOCTYPE html>
<html>
<head>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'interface_client/css/map2.css' %}">
    <title>Recherche de Stations</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'interface_client/js/download_csv.js' %}"></script>

</head>
<body>
    {% include 'interface_client/menu.html' %}

    <form method="post">
        <h1>Sélectionner un cours d'eau et la date des débits observés</h1>
        {% csrf_token %}
        {{ form.as_p }}
        {{ date_form.as_p }}
        <button type="submit">Rechercher</button>
    </form>

    <section id="map_width">
        <div style="height: 500px;">    <div>
            {{ map_html|safe }}
        </div></div>
    </section>

    <div id="stations">
        {% for station in stations %}
        <div class="station" 
             data-latitude="{{ station.latitude_station }}" 
             data-longitude="{{ station.longitude_station }}" 
             data-libelle="{{ station.libelle_station }}">
        </div>
        {% endfor %}
    </div>
    
    <section id="tab_stations">
        <table>
            <thead>
                <tr>
                    {% if stations_data %}
                        {% for key in stations_data.0.0.keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    {% else %}
                        <th>Aucune donnée disponible</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for station_group in stations_data %}
                    {% for station in station_group %}
                        <tr>
                            {% for key, value in station.items %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- <div id="graph-container">
        {% if graph %}
            <img src="data:image/png;base64,{{ graph }}" />
        {% else %}
            <p>Aucun graphique à afficher. Veuillez sélectionner des stations et des dates.</p>
        {% endif %}
    </div> -->
    <div id="dowloadcsv">
        <button onclick="downloadCSV()">Télécharger en CSV</button>
    </div>



    <div id="graph-container"></div>
    <script type="application/json" id="graph-data">
        {{ graph|safe }}
    </script>
    <script type="text/javascript">
        let graphDataElement = document.getElementById('graph-data');
        let graphData = JSON.parse(graphDataElement.textContent);
    
        if (graphData) {
            Plotly.newPlot('graph-container', graphData);
        }
    </script>


    <!-- <script type="text/javascript">
        var map = L.map('map').setView([47.081012, 2.398782], 6);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var stationsElements = document.querySelectorAll('.station');

        stationsElements.forEach(function(el) {
            var lat = parseFloat(el.getAttribute('data-latitude'));
            var lon = parseFloat(el.getAttribute('data-longitude'));
            var libelle = el.getAttribute('data-libelle');

            if (!isNaN(lat) && !isNaN(lon)) {
                L.marker([lat, lon]).addTo(map)
                    .bindPopup(libelle);
            }
        });
    </script> -->
</body>
</html>
