<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'interface_client/css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'weather' %}">Données météo</a>
        <a href="{% url 'data_hydro' %}">Données station</a>
        <a href="{% url 'search-stations' %}">Carte des stations</a>
        <a href="{% url 'watercourse-stations' %}">Carte des stations par cours d'eau</a>


    </div>
    
</body>
</html>